* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  min-width: 960px;
}

fieldset {
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
  resize: none;
  height: 10rem;
  font-family: "Roboto", sans-serif;
}

label {
  margin-bottom: 0.1em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
}

.row:last-child {
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider {
  width: 100%;
}

.buttons {
  flex-direction: column;
  margin-top: 5rem;
  width: 100%;
}

.button-controls {
  align-self: flex-end;
  width: 10rem;
  height: 3rem;
  background-color: #ffffff;
  font-size: 1rem;
}

#play {
  margin-bottom: 1rem;
  background-color: #049DD9;
  color: #ffffff;
}

#play:hover {
  background-color: #ffffff;
  color: #049DD9;
}

#play:hover > #audio-icon {
  filter: invert(42%) sepia(90%) saturate(577%) hue-rotate(155deg) brightness(98%) contrast(105%);
}

#audio-icon {
  filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(81deg) brightness(104%) contrast(101%);
}

select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 2px solid #c7c7c7;
}

.column-1 {
  flex-basis: 10rem;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.button-controls {
  justify-content: center;
  display: flex;
  align-items: center;
}

.label-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #595959;
}

#download-icon {
  filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(93%) contrast(91%);
}
